.u-section-1 {
  min-height: 647px;
}

.u-section-1 .u-image-1 {
  height: 607px;
  object-position: 50% 51.58%;
  width: 1300px;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 479px;
  }

  .u-section-1 .u-image-1 {
    height: 439px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 376px;
  }

  .u-section-1 .u-image-1 {
    height: 336px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 292px;
  }

  .u-section-1 .u-image-1 {
    height: 252px;
    width: 540px;
    margin-top: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 199px;
  }

  .u-section-1 .u-image-1 {
    height: 159px;
    object-position: 77.68% 50%;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 124px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 10px auto;
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/4MEEZ7E6MZHIFBPEENV7PJF4BU.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 474px;
}

.u-section-3 .u-text-1 {
  line-height: 1.6;
  font-size: 1.875rem;
  margin: 66px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 48px 0 48px 883px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 407px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 683px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-right: 360px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 463px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    background-position: 0% 0%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 180px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 283px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 83px;
  }
}.u-section-4 {
  background-image: linear-gradient(to right, #fef9e6, #adf6f2);
}

.u-section-4 .u-sheet-1 {
  min-height: 523px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}