.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 273px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 203px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 17px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  line-height: 0.8;
  margin: 0 572px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -118px 49px 0 626px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 5px 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 420px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -125px;
    margin-right: 0;
    margin-left: 520px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -19px;
    margin-bottom: -19px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 105px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -71px;
    margin-right: 89px;
    margin-left: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 122px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -57px;
    margin-right: 14px;
    margin-left: 215px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 156px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 544px;
}

.u-section-2 .u-image-1 {
  width: 220px;
  height: 474px;
  object-position: 50% 0%;
  margin: 30px auto 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto auto;
  width: 548px;
  margin: -474px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 23px 23px;
  min-height: 474px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-3 {
  padding: 22px 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  width: 220px;
  height: 474px;
  object-position: 50% 0%;
  margin: -474px 0 -374px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 215px;
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-list-1 {
    width: 454px;
    margin-top: 67px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 411px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-weight: normal;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    font-weight: normal;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    font-weight: normal;
  }

  .u-section-2 .u-image-2 {
    width: 214px;
    right: 0;
    height: auto;
    margin: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-2 .u-image-1 {
    width: 246px;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-list-1 {
    width: 434px;
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .u-section-2 .u-repeater-1 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-2 .u-image-1 {
    width: 493px;
    object-position: 39.58% 50%;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-list-1 {
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: -35px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 316px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-image-2 {
    left: auto;
    height: auto;
    margin: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-2 .u-image-1 {
    width: 220px;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-list-1 {
    width: 290px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 579px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 5px 20px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 5px 20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 5px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 5px 20px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 5px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 501px;
}

.u-section-3 .u-tabs-1 {
  min-height: 471px;
  width: 1140px;
  margin: 30px 0 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-3 .u-text-1 {
  line-height: 28.8px;
  font-weight: normal;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  color: rgb(65, 132, 244) !important;
  margin: 20px 0 0;
}

.u-section-3 .u-list-icon-1 {
  color: rgb(65, 132, 244) !important;
}

.u-section-3 .u-list-icon-1 {
  color: rgb(65, 132, 244) !important;
}

.u-section-3 .u-list-icon-1 {
  color: rgb(65, 132, 244) !important;
}

.u-section-3 .u-list-icon-1 {
  color: rgb(65, 132, 244) !important;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  color: rgb(65, 132, 244) !important;
  margin: 20px 0 0;
}

.u-section-3 .u-list-icon-5 {
  color: rgb(65, 132, 244) !important;
}

.u-section-3 .u-list-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-7 {
  color: rgb(65, 132, 244) !important;
}

.u-section-3 .u-list-icon-8 {
  color: rgb(65, 132, 244) !important;
}

.u-section-3 .u-list-icon-9 {
  color: rgb(65, 132, 244) !important;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-3 .u-table-1 {
  width: 1050px;
  margin: 0 auto;
}

.u-section-3 .u-table-header-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-4 {
  margin-top: -348px;
  margin-bottom: 58px;
}

.u-block-4b60-88 {
  height: 46px;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 470px;
    margin-bottom: 30px;
    height: auto;
    width: 940px;
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-3 .u-text-1 {
    font-weight: 400;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 22px;
  }

  .u-section-3 .u-table-1 {
    width: 890px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-tabs-1 {
    min-height: 523px;
    width: 720px;
  }

  .u-section-3 .u-table-1 {
    width: 670px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-tabs-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-table-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-tabs-1 {
    width: 340px;
  }

  .u-section-3 .u-table-1 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 259px;
}

.u-section-4 .u-list-1 {
  width: 880px;
  grid-template-rows: auto;
  margin: 40px auto 0 260px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 307px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px 0;
}

.u-section-4 .u-image-1 {
  height: 128px;
  width: 128px;
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px 0;
}

.u-section-4 .u-image-2 {
  height: 128px;
  width: 128px;
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px 0;
}

.u-section-4 .u-image-3 {
  height: 128px;
  width: 128px;
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px 0;
}

.u-section-4 .u-image-4 {
  height: 128px;
  width: 128px;
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px 0;
}

.u-section-4 .u-image-5 {
  height: 128px;
  width: 128px;
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 30px 0;
}

.u-section-4 .u-image-6 {
  height: 128px;
  width: 128px;
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 20px 30px 0;
}

.u-section-4 .u-image-7 {
  height: 128px;
  width: 128px;
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px 30px 0;
}

.u-section-4 .u-image-8 {
  height: 128px;
  width: 128px;
  margin: 6px auto 0;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  margin: -179px auto 167px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-4 .u-list-1 {
    width: 691px;
    margin-top: 30px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 308px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -180px;
    margin-bottom: -16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 112px;
    margin-right: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 256px;
    grid-auto-columns: 25%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-4 .u-image-4 {
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-4 .u-image-5 {
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-4 .u-image-6 {
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-4 .u-image-7 {
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 0;
  }

  .u-section-4 .u-image-8 {
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -338px;
    margin-left: auto;
    margin-bottom: -200px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 72px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 180px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 90px;
    width: 90px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 90px;
    width: 90px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 90px;
    width: 90px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 90px;
    width: 90px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 90px;
    width: 90px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 90px;
    width: 90px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-7 {
    height: 90px;
    width: 90px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-8 {
    height: 90px;
    width: 90px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -232px;
    margin-bottom: -784px;
    margin-left: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 453px;
    grid-auto-columns: 50%;
  }

  .u-section-4 .u-text-1 {
    margin-left: 33px;
  }
}.u-section-5 {
  background-image: url("../images/mouse_bg.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 208px;
}

.u-section-5 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 20px;
  width: 500px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 124px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 124px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 {
    background-size: 105%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 25px;
    margin-right: 470px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 357px;
    margin: 6px auto 25px 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 66px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 2px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 66px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 250px;
    width: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-5 .u-text-1 {
    width: 470px;
    margin-top: 20px;
    margin-right: 70px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -15px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 98px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 98px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 93px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 31px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 93px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 31px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 338px;
}

.u-section-6 .u-slider-1 {
  min-height: 309px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 10px auto 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-6 .u-text-3 {
  width: 300px;
  margin: 15px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 10px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-6 .u-text-6 {
  width: 232px;
  margin: 15px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 10px auto 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-6 .u-text-9 {
  width: 300px;
  margin: 15px auto 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-6 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-slider-1 {
    height: auto;
  }

  .u-section-6 .u-text-3 {
    width: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-6 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-6 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-icon-3 {
    height: 40px;
    width: 40px;
  }

  .u-section-6 .u-text-7 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 465px;
    margin-top: 20px;
  }
}